{{ define "main" }}

<main class="blog-content">
    <div class="container-md">
        <div class="row">
            <div class="col-lg-1 d-none d-xl-block">
                <div class="ad-left-offset"></div>
                {{ partial "ads.html" "ads/vertical-ad.js"}}
            </div>

            <div class="col-md-12 col-lg-10 px-lg-4">
                {{ partial "ads.html" "ads/horizontal-ad.js" }}

                <br>
                <br>
                <div style="width:100%; float:right; margin-right:0%">
                    <figure>
                        <img src="https://github.com/ZhuJie-Juno/assets/blob/main/avatar_test.jpg?raw=true" align="right" style="box-shadow: 10px 10px 10px gray;">
                        <figcaption style="text-align: center"></figcaption>
                    </figure>
                </div>
                
                <div style="width:100%; float:right; margin-right:0%">
                <br>
                <br>
                <p>Hey, how are you?</p>

            </div>

        </div>
    </div>
</main>

{{ end }}


