{{ define "main" }}

<main class="blog-content">
    <div class="container-md">
        <div class="row">
            <div class="col-lg-1 d-none d-xl-block">
                <div class="ad-left-offset"></div>
                {{ partial "ads.html" "ads/vertical-ad.js"}}
            </div>

            <div class="col-md-12 col-lg-10 px-lg-4">
                {{ partial "ads.html" "ads/horizontal-ad.js" }}

                <br>
                <br>
                <div style="width:100%; float:right; margin-right:0%">
                    <figure>
                        <img src="https://github.com/ZhuJie-Juno/assets/blob/main/avatar_intro.jpg?raw=true" align="right" style="box-shadow: 10px 10px 10px gray;">
                        <figcaption style="text-align: center"></figcaption>
                    </figure>
                </div>
                
                <div style="width:100%; float:right; margin-right:0%">
                <br>
                <br>
                <p> <b>Research Experience</b></p>
                <p>During my master’s, I received three years of academic training at Huashan Hospital of Fudan University, which has been ranked No.1 among all departments of dermatology in China for 13 consecutive years since 2009. My master’s thesis focused on biomarkers for psoriatic arthritis based on genomics and proteomics. In addition, I investigated the role of IgE and its high-affinity receptor FcεRI in the development of psoriasis and participated in two clinical research projects. I also led a six-member team to establish the psoriasis bio-bank at Huashan Hospital. </p>
                <p>Beginning in 2022, I embarked on my journey as an MD candidate at the Department of Dermatology in Basel, Switzerland, under the supervision of Dr. Simon Mueller. My current research focuses on microbiome and pruritus in GvHD. I have actively engaged in several projects and published 8 first-author publications in peer-reviewed journals. Owing to these contributions, I was honored to be awarded scholarships from EADV and IFSI.</p>
                    </div>
            </div>

        </div>
    </div>
</main>

{{ end }}


