{{ define "main" }}

<main class="blog-content">
    <div class="container-md">
        <div class="row">
            <div class="col-lg-1 d-none d-xl-block">
                <div class="ad-left-offset"></div>
                {{ partial "ads.html" "ads/vertical-ad.js"}}
            </div>

            <div class="col-md-12 col-lg-10 px-lg-4">
                {{ partial "ads.html" "ads/horizontal-ad.js" }}
                <br>
                <div class="aside">
                    <div style="width:45%; float:left; margin-right:1%">
                        <figure>
                            <img src="https://github.com/ZhuJie-Juno/assets/blob/main/personal_life2.jpg?raw=true" align="right" style="box-shadow: 5px 5px 5px gray;">
                            <figcaption style="text-align: center">An observer of birds</figcaption>
                        </figure>
                    </div>
                    <div style="width:45%; float:right; margin-right:1%">
                        <figure>
                            <img src="https://github.com/ZhuJie-Juno/assets/blob/main/personal_life3.jpg?raw=true" align="right" style="box-shadow: 5px 5px 5px gray;">
                            <figcaption style="text-align: center">A principal actress in a stage drama</figcaption>
                        </figure>
                    </div>
                </div>
                <br>
                <br>
                <div class="aside">
                    <div style="width:45%; float:left; margin-right:1%">
                        <figure>
                            <img src="https://github.com/ZhuJie-Juno/assets/blob/main/personal_life1.jpg?raw=true" align="right" style="box-shadow: 5px 5px 5px gray;">
                            <figcaption style="text-align: center">A chess and card player</figcaption>
                        </figure>
                    </div>
                    <div style="width:45%; float:right; margin-right:1%">
                        <figure>
                            <img src="https://github.com/ZhuJie-Juno/assets/blob/main/personal_life4.jpg?raw=true" align="right" style="box-shadow: 5px 5px 5px gray;">
                            <figcaption style="text-align: center">An open-minded traveler</figcaption>
                        </figure>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>

{{ end }}